* {
  margin: 0;
}

body {
  height: 2000px;
}

.box-macro {
  width: 400px;
  height: 400px;
  background-color: red;
}

.box-micro {
  width: 200px;
  height: 200px;
  background-color: black;
  position: relative;
  left: calc(50% - 200px / 2);
  top: calc(50% - 200px / 2);
  margin: 0;
  color: white;
}

h1 {
  color: white;
  font-size: 50px;
  position: relative;
  top: calc(50% - 50px / 2);
  text-align: center;
}

.box-right {
  position: absolute;
  top: 0;
  right: 0;
}

.box-bottom {
  position: fixed;
  left: calc(50% - 400px / 2);
  bottom: 0;
}
