@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap");

body {
  height: 2000px;
  background-color: black;
  font-family: "Noto Sans JP", sans-serif;
}

.main-menu {
  height: 60px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  margin: 0;
  z-index: 50;
}

.main-menu a {
  font-size: 20px;
  text-decoration: none;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.575);
  margin: 0px 120px;
  position: relative;
  top: 5px;
}

.main-menu img {
  width: 80px;
  position: relative;
  top: 12px;
  left: 20px;
}

.box {
  border-style: solid;
  width: 400px;
  text-align: center;
  display: inline-block;
  margin: 20px 65px;
}

.box img {
  width: 300px;
}

.box h1,
h4 {
  color: white;
}

.button {
  background-color: #e7e7e7;
  color: black;
  border: none;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 900;
}

.button:hover {
  opacity: 1;
}

.wpp {
  width: 100px;
  position: fixed;
  right: 40px;
  top: 650px;
  z-index: 50;
}

.icon {
  width: 16px;
  height: 16px;
}
